<body>
    <div class="container-fluid">

        <div class="h-100 d-flex justify-content-center align-items-center">

            <div class="card w-50 h-75 shadow-lg">

                <i class="mt-4 fa fa-5x fa-sign-in d-flex justify-content-center align-items-center"
                    aria-hidden="true"></i>

                <form [formGroup]="form"  class="mt-4 d-flex justify-content-center align-items-center text-center">
                    <div class="form-group">
                        <label class="text-info"><strong>Kullanıcı Adı</strong></label>
                        <input formControlName="username" class="form-control border-info form-control-lg" type="text">
                        <label class="mt-3 text-info"><strong>Parola</strong></label>
                        <input formControlName="password" class="form-control border-info form-control-lg" type="password">
                        <div class="input-group">
                            <div class="input group-prepend ml-5">
                                <a routerLink='/info' routerLinkActive="router-link-active"  class="mt-5 btn  w-100 btn-outline-info">İptal et</a>
                            </div>
                            <div class="input group-prepend ml-2">
                                <button  (click)="login()" class="mt-5 btn  w-100 btn-outline-info" type="submit">Giriş</button>
                            </div>
                          
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>