<div class="card shadow-lg" style="height: 600px;">
    <div class="card-header">
        <h4 style="position: relative; top: 20px;"><i class="fas fa-list"></i> Talep Listesi</h4>

    </div>

    <div class="card-body" style="overflow-y: auto;">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="table-borderless">
                        <tr class="text-center">
                         
                            <th scope="col">Ülke</th>
                            <th scope="col">Miktar</th>
                            <th scope="col">Tarih</th>
                            <th></th>
                          

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let claim of claims"  class="text-center">

                            <td>{{claim?.Ministary_Country}}</td>
                            <td>{{claim?.Vaccine_Count}}</td>
                            <td>{{claim?.Date.split('T')[0]}}</td>
                            
                            <td>
                                <div class="input-group">
                                    <button class="btn btn-sm btn-info  mr-1" (click)="send()">Stok</button>
                                    <button class="btn btn-sm btn-danger" (click)="delete(claim)">Reddet</button>
                                </div>
                                                  
                            </td>

                        </tr>



                    </tbody>



                </table>
            </div>
        </div>
    </div>
</div>
