<body>
    <nav class="navbar navbar-dark sticky-top bg-info flex-md-nowrap">
        <a class="navbar-brand col-sm-3 col-md-2"><i class="fas fa-syringe"></i> Vaccine Stock</a>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link text-white" (click)="logOut()">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid ">
        <div class="row h-100">
            <div class="col-md-2 px-0">
                <div class="d-flex flex-column text-white bg-info" style="width: 100%; height:100%;">
                    <ul class="nav nav-pills flex-column mb-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link text-white sidelink"
                                [ngClass]="{'sidelink-active' : component_number==1}" (click)="homeBtn()">
                                Anasayfa
                            </a>
                        </li>
                        <li>
                            <a class="nav-link text-white sidelink"
                                [ngClass]="{'sidelink-active' : component_number==2}" (click)="producerBtn()">
                                Üretici Bilgileri
                            </a>
                        </li>
                        <li>
                            <a class="nav-link text-white sidelink"
                                [ngClass]="{'sidelink-active' : component_number==3}" (click)="unitBtn()">
                                Sağlık Birimleri
                            </a>
                        </li>
                        <li>
                            <a class="nav-link text-white sidelink"
                                [ngClass]="{'sidelink-active' : component_number==4}" (click)="productBtn()">
                                Stoklar
                            </a>
                        </li>
                        <li>
                            <a class="nav-link text-white sidelink"
                                [ngClass]="{'sidelink-active' : component_number==5}" (click)="userBtn()">
                                Kullanıcıları yönet
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 px-0">
                <div class="h-100 p-4 bg-light" style="width: 100%;">

                    <ng-container *ngIf="component_number==1">
                        <app-home [data]="data"></app-home>
                    </ng-container>

                    <ng-container *ngIf="component_number==2">
                        <app-producer [data]="data"></app-producer>
                    </ng-container>

                    <ng-container *ngIf="component_number==3">
                        <app-unit [data]="data"></app-unit>
                    </ng-container>
                    <ng-container *ngIf="component_number==4">
                        <app-products [data]="data"></app-products>
                    </ng-container>

                    <ng-container *ngIf="component_number==5">
                        <app-users [data]="data"></app-users>
                    </ng-container>
                </div>

            </div>


        </div>
    </div>




</body>