<div class="card shadow-lg mt-2" style="height: 600px;">
    <div class="card-header">
        <h4 style="position: relative; top: 20px;">Randevular</h4>
        <button type="button" style="position: relative; top: -14px;" class="btn btn-info float-right"
            data-toggle="modal" data-target="#modal">
            Randevu Al
        </button>
    </div>

    <div class="card-body" style="overflow-y: auto;">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="table-borderless">
                        <tr class="text-center">

                            <th scope="col">Doktor Adı</th>
                            <th scope="col">Birim Adı</th>
                            <th scope="col">Birim Adresi</th>
                            <th scope="col">Randevu Tarihi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let appointment of appointments" class="text-center">

                            <td style="width: 200px;">{{appointment?.Doctor_FullName}}</td>
                            <td>{{appointment?.Unit_Name}}</td>
                            <td>{{appointment?.Unit_Adress}}</td>
                            <td>{{appointment?.Appointment_Date.split('T')[0]}} {{appointment?.Appointment_Date.split('T')[1].split('.')[0]}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Randevu Formu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <ng-container>

                        <div class="form-group">
                            <label>Doktor</label>
                            <select class="form-control" #t (change)="getDoctorId(t.value)">
                                <option selected>Doktor Seç</option>
                                <option *ngFor="let item of doctors" value="{{item.Id}}">{{item.Doctor_FullName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Tarih Seç</label>
                            <input class="form-control mb-2" type="datetime" value="{{selectedDate}}">
                            <dl-date-time-picker startView="day" maxView="year" minView="minute" minuteStep="5"
                                [(ngModel)]="selectedDate">
                            </dl-date-time-picker>
                        </div>


                    </ng-container>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger text-white" data-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn btn-info" (click)="take()">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>